.custom-button {
    background-color: #0074D9; /* Fondo azul */
    border: none; /* Sin borde */
    color: white; /* Texto en color blanco */
    padding: 10px
}
.edit-button {
    background-color: #2980B9; /* Fondo  */
    border: none; /* Sin borde */
    color: white; /* Texto en color blanco */
    padding: 10px
}
.delete-button {
    background-color: #C0392B; /* Fondo */
    border: none; /* Sin borde */
    color: white; /* Texto en color blanco */
    padding: 10px
}
.details-button {
    background-color: #D4AC0D;/* Fondo */
    border: none; /* Sin borde */
    color: white; /* Texto en color blanco */
    padding: 10px
}